{% extends 'base.html' %}
{% block title_block %} User Profile {% endblock %}
{% block body_block %}
<h4>Your Profile:</h4>
{% if user.user_profile %}
<img src="/media/{{user.user_profile.profile_pic}}" class="rounded-circle" width="100px">
<br><br>
<a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{% else %}
<img src="/media/profile_pics/male-profile.jpg" class="rounded-circle" width="100px">
<br><br>
<a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{% endif %}
<br>
<p>Name: {{user.first_name}} {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Username: {{user.username}}</p>
<br>
<a href="{% url 'App_Login:change-profile' %}" class="btn btn-warning btn-sm">Change Profile</a>
{% endblock %}
