{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Home {% endblock %}
{% block body_block %}
{% for blog in blogs %}
<h4>{{blog.blog_title}}</h4>
<h6>Posted By: <a href="#">@{{blog.author}}</a> </h6>
<h6>{{blog.publish_date}}</h6>
<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-8">
    <p>{{blog.blog_content|range_filter|linebreaks}} <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read more</a> </p>
    <h6>{{blog.liked_blog.count}} likes | {{blog.blog_comment.count}} comments</h6>
  </div>
</div>
<hr>
{% endfor %}
{% endblock %}
